body {
    font-family: "Consolas" !important;
    color: rbga(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, red, yellow);
}

h3 {
    text-transform: none;
    font: 900 1em 'arial' sans-serif;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.001em;
}
